<html>
    <head>
        <style>
            body{
                background: black;
                margin: 2px;
                color: white;
                font-family: 'Courier New', Courier, monospace;
            }
        </style>
        <script>
            let shit = '';

            window.onload = () => {
                setInterval(() => {
                    fetch('http://localhost:8085/alllogs.txt').then(data => data.text()).then(data => {
                        if(shit !== data.split(' ').join('&nbsp;').split('\n').join('<br />')){
                            shit = data.split(' ').join('&nbsp;').split('\n').join('<br />')
                            document.body.innerHTML = data.split(' ').join('&nbsp;').split('\n').join('<br />');
                            
                            document.body.scrollBy(0, 10000);
                        }
                    })
                }, 100);
            }
        </script>
    </head>
    <body></body>
</html>